<?xml version="1.0"?>

<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Creative Commons License BY-NC-ND.
 * NonCommercial — You may not use the material for commercial purposes.
 * NoDerivatives — If you remix, transform, or build upon the material,
 * you may not distribute the modified material.
 * See the full license at http://creativecommons.org/licenses/by-nc-nd/4.0/
 *
 * See http://mventory.com/legal/licensing/ for other licensing options.
 *
 * @package MVentory/TradeMe
 * @copyright Copyright (c) 2014 mVentory Ltd. (http://mventory.com)
 * @license http://creativecommons.org/licenses/by-nc-nd/4.0/
 * @author Anatoly A. Kazantsev <anatoly@mventory.com>
 */
-->

<config>
  <modules>
    <MVentory_TradeMe>
      <version>1</version>
    </MVentory_TradeMe>
  </modules>

  <global>
    <models>
      <trademe>
        <class>MVentory_TradeMe_Model</class>
        <resourceModel>trademe_resource</resourceModel>
      </trademe>

      <trademe_resource>
        <class>MVentory_TradeMe_Model_Resource</class>

        <entities>
          <matching_rules>
            <table>trademe_matching_rules</table>
          </matching_rules>
        </entities>
      </trademe_resource>
    </models>

    <resources>
      <trademe_setup>
        <setup>
          <module>MVentory_TradeMe</module>
          <class>MVentory_TradeMe_Model_Resource_Setup</class>
        </setup>
      </trademe_setup>
    </resources>

    <blocks>
      <trademe>
        <class>MVentory_TradeMe_Block</class>
      </trademe>
    </blocks>

    <helpers>
      <trademe>
        <class>MVentory_TradeMe_Helper</class>
      </trademe>
    </helpers>

    <events>
      <checkout_type_onepage_save_order_after>
        <observers>
          <trademe_remove_listing>
            <type>singleton</type>
            <class>MVentory_TradeMe_Model_Observer</class>
            <method>removeListing</method>
          </trademe_remove_listing>
        </observers>
      </checkout_type_onepage_save_order_after>
    </events>

    <cache>
      <types>
        <trademe module="trademe" translate="label,description">
          <label>MVentory TradeMe Cache</label>
          <description>TradeMe categories and attributes cache</description>
          <tags>TRADEME</tags>
        </trademe>
      </types>
    </cache>
  </global>

  <adminhtml>
    <events>
      <controller_action_layout_render_before_adminhtml_catalog_product_set_edit>
        <observers>
          <trademe_sort_children>
            <type>singleton</type>
            <class>MVentory_TradeMe_Model_Observer</class>
            <method>sortChildren</method>
          </trademe_sort_children>
        </observers>
      </controller_action_layout_render_before_adminhtml_catalog_product_set_edit>

      <adminhtml_init_system_config>
        <observers>
          <trademe-add-accounts-to-config>
            <type>singleton</type>
            <class>MVentory_TradeMe_Model_Observer</class>
            <method>addAccountsToConfig</method>
          </trademe-add-accounts-to-config>
        </observers>
      </adminhtml_init_system_config>

      <model_config_data_save_before>
        <observers>
          <trademe-restore-new-account-in-config>
            <type>singleton</type>
            <class>MVentory_TradeMe_Model_Observer</class>
            <method>restoreNewAccountInConfig</method>
          </trademe-restore-new-account-in-config>
        </observers>
      </model_config_data_save_before>

      <catalog_product_save_before>
        <observers>
          <trademe_set_allow_listing_flag>
            <type>singleton</type>
            <class>MVentory_TradeMe_Model_Observer</class>
            <method>setAllowListingFlag</method>
          </trademe_set_allow_listing_flag>
        </observers>
      </catalog_product_save_before>

      <mventory_api_product_info>
        <observers>
          <trademe_remove_listing>
            <type>singleton</type>
            <class>MVentory_TradeMe_Model_Observer</class>
            <method>addTradeMeData</method>
          </trademe_remove_listing>
        </observers>
      </mventory_api_product_info>
    </events>

    <layout>
      <updates>
        <trademe>
          <file>trademe.xml</file>
        </trademe>
      </updates>
    </layout>

    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <trademe>
                      <title>mVentory TradeMe</title>
                    </trademe>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>

  <admin>
    <routers>
      <trademe_adminhtml>
        <use>admin</use>
        <args>
          <module>MVentory_TradeMe</module>
          <frontName>trademe</frontName>
        </args>
      </trademe_adminhtml>
    </routers>
  </admin>

  <default>
    <trademe>
      <settings>
        <enable_listing>1</enable_listing>
      </settings>
    </trademe>
  </default>
</config>
