<?xml version="1.0"?>

<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Creative Commons License BY-NC-ND.
 * NonCommercial — You may not use the material for commercial purposes.
 * NoDerivatives — If you remix, transform, or build upon the material,
 * you may not distribute the modified material.
 * See the full license at http://creativecommons.org/licenses/by-nc-nd/4.0/
 *
 * See http://mventory.com/legal/licensing/ for other licensing options.
 *
 * @package MVentory/TM
 * @copyright Copyright (c) 2014 mVentory Ltd. (http://mventory.com)
 * @license http://creativecommons.org/licenses/by-nc-nd/4.0/
 */
-->

<config>
  <modules>
    <MVentory_Tm>
      <version>22</version>
    </MVentory_Tm>
  </modules>

  <global>
    <blocks>
      <mventory_tm>
        <class>MVentory_Tm_Block</class>
      </mventory_tm>

      <catalog>
        <rewrite>
          <layer_view>MVentory_Tm_Block_Layer_View</layer_view>
          <product_view_attributes>MVentory_Tm_Block_Product_View_Attributes</product_view_attributes>
          <product_view_description>MVentory_Tm_Block_Product_View_Description</product_view_description>
          <product_view_tabs>MVentory_Tm_Block_Product_View_Tabs</product_view_tabs>
        </rewrite>
      </catalog>

      <adminhtml>
        <rewrite>
          <dashboard_grids>MVentory_Tm_Block_Adminhtml_Dashboard_Grids</dashboard_grids>
        </rewrite>
      </adminhtml>

      <page>
        <rewrite>
          <html_footer>MVentory_Tm_Block_Html_Footer</html_footer>
        </rewrite>
      </page>
    </blocks>

    <models>
      <mventory_tm>
        <class>MVentory_Tm_Model</class>
        <resourceModel>mventory_tm_resources</resourceModel>
      </mventory_tm>

      <mventory_tm_resources>
        <class>MVentory_Tm_Model_Resource</class>

        <entities>
          <order_transaction>
            <table>mventory_order_transaction</table>
          </order_transaction>
          <cart_item>
            <table>mventory_cart_item</table>
          </cart_item>

          <carrier_volumerate>
            <table>mventory_carrier_volumerate</table>
          </carrier_volumerate>

          <matching_rules>
            <table>mventory_matching_rules</table>
          </matching_rules>

          <additional_skus>
            <table>mventory_additional_skus</table>
          </additional_skus>
        </entities>
      </mventory_tm_resources>

      <catalog>
        <rewrite>
          <layer>MVentory_Tm_Model_Layer</layer>
          <layer_filter_attribute>MVentory_Tm_Model_Layer_Filter_Attribute</layer_filter_attribute>
          <product_url>MVentory_Tm_Model_Product_Url</product_url>
        </rewrite>
      </catalog>

      <core>
        <rewrite>
          <convert>MVentory_Tm_Model_Core_Convert</convert>
          <design_package>MVentory_Tm_Model_Design_Package</design_package>
        </rewrite>
      </core>
    </models>

    <helpers>
      <mventory_tm>
        <class>MVentory_Tm_Helper</class>
      </mventory_tm>

      <catalog>
        <rewrite>
          <data>MVentory_Tm_Helper_Mage_Catalog_Data</data>
        </rewrite>
      </catalog>

      <sales>
        <rewrite>
          <data>MVentory_Tm_Helper_Mage_Sales_Data</data>
        </rewrite>
      </sales>
    </helpers>

    <resources>
      <mventory_tm_setup>
        <setup>
          <module>MVentory_Tm</module>
          <class>MVentory_Tm_Model_Resource_Setup</class>
        </setup>
      </mventory_tm_setup>
    </resources>

    <events>
      <catalog_product_save_before>
        <observers>
          <mventory_tm_product_save_before>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>populateAttributes</method>
          </mventory_tm_product_save_before>

          <mventory_tm_save_product_create_date>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>saveProductCreateDate</method>
          </mventory_tm_save_product_create_date>

          <mventory_tm_save_api_user_id>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>saveApiUserId</method>
          </mventory_tm_save_api_user_id>

          <mventory_set_list_on_tm>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>setListOnTm</method>
          </mventory_set_list_on_tm>

          <tm_match_category>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>matchCategory</method>
          </tm_match_category>

          <mventory_save_attributes_hash>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>saveAttributesHash</method>
          </mventory_save_attributes_hash>

          <mventory_remove_similar>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>removeSimilar</method>
          </mventory_remove_similar>

          <mventory_unassign_from_configurable>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>unassignFromConfigurable</method>
          </mventory_unassign_from_configurable>

          <mventory_assign_to_configurable_before>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>assignToConfigurableBefore</method>
          </mventory_assign_to_configurable_before>
        </observers>
      </catalog_product_save_before>

      <catalog_product_save_after>
        <observers>
           <mventory_images_reset_ids>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>saveImagesAfterMerge</method>
          </mventory_images_reset_ids>

          <mventory_assign_to_configurable_after>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>assignToConfigurableAfter</method>
          </mventory_assign_to_configurable_after>

          <mventory_update_prices_in_configurable>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>updatePricesInConfigurable</method>
          </mventory_update_prices_in_configurable>

          <mventory_update_description_in_configurable>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>updateDescriptionInConfigurable</method>
          </mventory_update_description_in_configurable>

          <mventory_save_additional_skus>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>saveAdditionalSkus</method>
          </mventory_save_additional_skus>
        </observers>
      </catalog_product_save_after>

      <catalog_model_product_duplicate>
        <observers>
          <tm_product_unset_duplicate_flag>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>unsetDuplicateFlagInProduct</method>
          </tm_product_unset_duplicate_flag>

          <mventory_update_duplicate>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>updateDuplicate</method>
          </mventory_update_duplicate>
        </observers>
      </catalog_model_product_duplicate>

      <!-- Requires M. >= 1.7 -->
      <catalog_product_media_save_before>
        <observers>
          <mventory_reset_exclude_flag>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>resetExcludeFlag</method>
          </mventory_reset_exclude_flag>

          <tm_product_restore_duplicate_flag>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>restoreDuplicateFlagInProduct</method>
          </tm_product_restore_duplicate_flag>

          <mventory_sync_images>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>syncImages</method>
          </mventory_sync_images>
        </observers>
      </catalog_product_media_save_before>

      <catalog_controller_product_init>
        <observers>
          <mventory_tm_product_init>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>productInit</method>
          </mventory_tm_product_init>
        </observers>
      </catalog_controller_product_init>

      <cataloginventory_stock_item_save_after>
        <observers>
          <mventory_update_prices_in_configurable_on_stock_change>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>updatePricesInConfigurableOnStockChange</method>
          </mventory_update_prices_in_configurable_on_stock_change>
        </observers>
      </cataloginventory_stock_item_save_after>

      <checkout_type_onepage_save_order_after>
        <observers>
          <mventory_tm_save_order_after>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>removeListingFromTm</method>
          </mventory_tm_save_order_after>
        </observers>
      </checkout_type_onepage_save_order_after>

      <adminhtml_catalog_product_grid_prepare_massaction>
        <observers>
          <mventory_tm_product_name_rebuild>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>addProductNameRebuildMassaction</method>
          </mventory_tm_product_name_rebuild>

          <mventory_tm_product_attributes_populate>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>addProductAttributesPopulateMassaction</method>
          </mventory_tm_product_attributes_populate>

          <tm_product_category_match>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>addProductCategoryMatchMassaction</method>
          </tm_product_category_match>
        </observers>
      </adminhtml_catalog_product_grid_prepare_massaction>

      <!--<sales_model_service_quote_submit_before>
        <observers>
          <inventory>
            <type>disabled</type>
          </inventory>

          <mventory_set_inventory_processed>
            <class>mventory_tm/observer</class>
            <method>setInventoryProcessed</method>
          </mventory_set_inventory_processed>
        </observers>
      </sales_model_service_quote_submit_before>

      <sales_model_service_quote_submit_failure>
        <observers>
          <inventory>
            <type>disabled</type>
          </inventory>
        </observers>
      </sales_model_service_quote_submit_failure>

      <sales_order_item_cancel>
        <observers>
          <inventory>
            <type>disabled</type>
          </inventory>
        </observers>
      </sales_order_item_cancel>

      <sales_order_invoice_pay>
        <observers>
          <mventory_subtract_inventory>
            <class>mventory_tm/observer</class>
            <method>subtractInventory</method>
          </mventory_subtract_inventory>
        </observers>
      </sales_order_invoice_pay>-->
    </events>

    <rewrite>
      <mventory_tm_qr_get>
        <from><![CDATA[#^/sku/#]]></from>
        <to><![CDATA[/mventory_tm/qr/scan/sku/]]></to>
      </mventory_tm_qr_get>
      <mventory_app_config>
        <from><![CDATA[#^/mventory-key/(.*)\.txt$#]]></from>
        <to><![CDATA[/mventory_tm/app/profile/key/$1/]]></to>
      </mventory_app_config>
      <mventory_app_config_redirect>
        <from><![CDATA[#^/mventory-key/(.*)$#]]></from>
        <to><![CDATA[/mventory_tm/app/redirect/key/$1/]]></to>
      </mventory_app_config_redirect>
    </rewrite>

    <cache>
      <types>
        <tm module="mventory_tm" translate="label,description">
          <label>MVentory TM Cache</label>
          <description>TM categories and attributes cache</description>
          <tags>TM</tags>
        </tm>
      </types>
    </cache>

    <template>
      <email>
        <mventory_negative_balance translate="label">
          <label>Negative balance</label>
          <file>mventory/negative_balance.txt</file>
          <type>text</type>
        </mventory_negative_balance>
      </email>
    </template>
  </global>

  <frontend>
    <events>
      <controller_action_layout_generate_blocks_after>
        <observers>
          <tm_add_switcher>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>addSiteSwitcher</method>
          </tm_add_switcher>
        </observers>
      </controller_action_layout_generate_blocks_after>

      <catalog_block_product_list_collection>
        <observers>
          <tm_hide_products_without_small_image>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>hideProductsWithoutSmallImages</method>
          </tm_hide_products_without_small_image>
        </observers>
      </catalog_block_product_list_collection>
    </events>
  </frontend>

  <admin>
    <routers>
      <mventory_tm_adminhtml>
        <use>admin</use>
        <args>
          <module>MVentory_Tm</module>
          <frontName>mventory_tm</frontName>
        </args>
      </mventory_tm_adminhtml>
    </routers>
  </admin>

  <frontend>
    <routers>
      <mventory_tm>
        <use>standard</use>
        <args>
          <module>MVentory_Tm</module>
          <frontName>mventory_tm</frontName>
        </args>
      </mventory_tm>
    </routers>

    <layout>
      <updates>
        <page-tm-additions>
          <file>page/mv-additions.xml</file>
        </page-tm-additions>
      </updates>
    </layout>
  </frontend>

  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <mventory_tm>
                      <title>mVentory Tm</title>
                    </mventory_tm>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>

    <events>
      <core_block_abstract_prepare_layout_after>
        <observers>
          <tm-add-tab-to-product>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>addTabToProduct</method>
          </tm-add-tab-to-product>
        </observers>
      </core_block_abstract_prepare_layout_after>

      <adminhtml_init_system_config>
        <observers>
          <tm-add-accounts-to-config>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>addAccountsToConfig</method>
          </tm-add-accounts-to-config>
        </observers>
      </adminhtml_init_system_config>

      <model_config_data_save_before>
        <observers>
          <tm-restore-new-account-in-config>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>restoreNewAccountInConfig</method>
          </tm-restore-new-account-in-config>
        </observers>
      </model_config_data_save_before>

      <api_user_authenticated>
        <observers>
          <tm_check_access_to_website>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>checkAccessToWebsite</method>
          </tm_check_access_to_website>
        </observers>
      </api_user_authenticated>

      <controller_action_layout_render_before_adminhtml_catalog_product_set_edit>
        <observers>
          <tm_add_mathing_rules_block>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>addMatchingRulesBlock</method>
          </tm_add_mathing_rules_block>
        </observers>
      </controller_action_layout_render_before_adminhtml_catalog_product_set_edit>

      <api_user_save_after>
        <observers>
          <mventory_generate_link_for_profile>
            <type>singleton</type>
            <class>mventory_tm/observer</class>
            <method>generateLinkForProfile</method>
          </mventory_generate_link_for_profile>
        </observers>
      </api_user_save_after>
    </events>

    <layout>
      <updates>
        <category-tm>
          <file>catalog/tm.xml</file>
        </category-tm>
      </updates>
    </layout>
  </adminhtml>

  <default>
    <mventory_tm>
      <settings>
        <allow_buy_now>1</allow_buy_now>
        <add_tm_fees>0</add_tm_fees>
        <shipping_type>1</shipping_type>
        <avoid_withdrawal>1</avoid_withdrawal>
        <pickup>0</pickup>
        <enable_listing>1</enable_listing>
      </settings>

      <qr>
        <rows>10</rows>
        <columns>15</columns>
        <size>180</size>
        <pages>3</pages>
        <copies>1</copies>
      </qr>

      <api>
        <products-number-to-fetch>50</products-number-to-fetch>
        <add_to_websites>1</add_to_websites>
        <tax_class>0</tax_class>
        <cart-item-lifetime>1440</cart-item-lifetime>
        <app_profile_link_lifetime>1440</app_profile_link_lifetime>
      </api>
    </mventory_tm>

    <carriers>
      <dummyshipping>
        <active>1</active>
        <sallowspecific>0</sallowspecific>
        <cutoff_cost>0</cutoff_cost>
        <model>mventory_tm/carrier_dummyshipping</model>
        <name>Dummy</name>
        <title>Dummy Shipping</title>
        <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
      </dummyshipping>

      <volumerate>
        <active>0</active>
        <sallowspecific>0</sallowspecific>
        <model>mventory_tm/carrier_volumerate</model>
        <name>Shipping Rate</name>
        <title>Volume/Weight Based Rate</title>
        <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
      </volumerate>
    </carriers>

    <payment>
      <dummy>
        <active>1</active>
        <model>mventory_tm/method_dummy</model>
        <order_status>pending</order_status>
        <title>App</title>
        <allowspecific>0</allowspecific>
        <group>offline</group>
      </dummy>
    </payment>
  </default>

  <!--
  <crontab>
    <jobs>
      <mventory_cancel_orders>
        <schedule>
          <cron_expr>0 * * * *</cron_expr>
        </schedule>

        <run>
          <model>mventoty_tm/observer::cancelOrders</model>
        </run>
      </mventory_cancel_orders>
    </jobs>
  </crontab>
  -->
</config>
