<?xml version="1.0"?>

<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Creative Commons License BY-NC-ND.
 * NonCommercial — You may not use the material for commercial purposes.
 * NoDerivatives — If you remix, transform, or build upon the material,
 * you may not distribute the modified material.
 * See the full license at http://creativecommons.org/licenses/by-nc-nd/4.0/
 *
 * See http://mventory.com/legal/licensing/ for other licensing options.
 *
 * @package MVentory/TM
 * @copyright Copyright (c) 2014 mVentory Ltd. (http://mventory.com)
 * @license http://creativecommons.org/licenses/by-nc-nd/4.0/
 */
-->

<config>
  <tabs>
    <mventory translate="label" module="mventory_tm">
      <label>mVentory</label>
      <sort_order>100</sort_order>
    </mventory>
  </tabs>

  <sections>
    <mventory_tm translate="label">
      <label>API</label>
      <tab>mventory</tab>
      <frontend_type>text</frontend_type>

      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>0</show_in_store>

      <sort_order>0</sort_order>

      <groups>
        <settings translate="label">
          <label>TM Settings</label>
          <frontend_model>mventory_tm/system_config_form_fieldset_settings</frontend_model>

          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>0</show_in_store>

          <sort_order>1</sort_order>

          <account_template>
            <name translate="label">
              <label>Name</label>
              <frontend_type>text</frontend_type>

              <show_in_default>0</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>1</sort_order>
            </name>

            <key translate="label">
              <label>API Key</label>
              <frontend_type>text</frontend_type>

              <show_in_default>0</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>2</sort_order>
            </key>

            <secret translate="label">
              <label>API Secret</label>
              <frontend_type>text</frontend_type>

              <show_in_default>0</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>3</sort_order>
            </secret>

            <max_listings translate="label">
              <label>Max Number of Listings</label>
              <frontend_type>text</frontend_type>

              <show_in_default>0</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>4</sort_order>
            </max_listings>
          </account_template>

          <fields>
            <sandbox translate="label">
              <label>Sandbox</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>

              <show_in_default>0</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>102</sort_order>
            </sandbox>

            <cron translate="label comment">
              <label>Cron interval (in minutes)</label>
              <comment>Zero = no cron</comment>
              <frontend_type>text</frontend_type>
              <backend_model>mventory_tm/system_config_backend_cron</backend_model>

              <show_in_default>0</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>103</sort_order>
            </cron>

            <enable_listing translate="label">
              <label>Enable TM for new products</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>104</sort_order>
            </enable_listing>

            <list_as_new translate="label">
              <label>List as 'New'</label>
              <frontend_type>multiselect</frontend_type>
              <source_model>mventory_tm/system_config_source_conditions</source_model>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>105</sort_order>
            </list_as_new>

            <mapping_store translate="label">
              <label>Fake store for mapping values of TM attributes</label>
              <frontend_type>select</frontend_type>
              <source_model>mventory_tm/system_config_source_store</source_model>

              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>105</sort_order>
            </mapping_store>

            <import translate="label">
              <label>Import</label>
              <frontend_type>file</frontend_type>
              <backend_model>mventory_tm/system_config_backend_options</backend_model>

              <show_in_default>0</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>107</sort_order>
            </import>

            <export translate="label">
              <label>Export</label>
              <frontend_model>mventory_tm/system_config_form_field_exportoptions</frontend_model>

              <show_in_default>0</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>108</sort_order>
            </export>
          </fields>
        </settings>

        <api translate="label">
          <label>Phone API</label>
          <frontend_type>text</frontend_type>

          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>0</show_in_store>

          <sort_order>2</sort_order>

          <fields>
            <products-number-to-fetch  translate="label">
              <label>Number of products to fetch</label>
              <frontend_type>text</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>1</sort_order>
            </products-number-to-fetch>

            <add_to_websites translate="label comment">
              <label>Add product to websites</label>
              <comment>Hold Ctrl to select multiple categories</comment>

              <frontend_type>multiselect</frontend_type>
              <source_model>adminhtml/system_config_source_website</source_model>
              <!--<backend_model>mventory_tm/config_data_websites</backend_model>-->

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>2</sort_order>
            </add_to_websites>

            <tax_class translate="label">
              <label>Default tax</label>

              <frontend_type>select</frontend_type>
              <source_model>tax/class_source_product</source_model>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>3</sort_order>
            </tax_class>

            <cart-item-lifetime translate="label">
              <label>Cart item lifetime (minutes)</label>
              <frontend_type>text</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>4</sort_order>
            </cart-item-lifetime>

            <app_profile_link_lifetime translate="label">
              <label>Lifetime of the link to the app profile (minutes)</label>
              <frontend_type>text</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>5</sort_order>
            </app_profile_link_lifetime>

            <lost_category translate="label">
              <label>LOST category ID</label>
              <frontend_type>text</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>6</sort_order>
            </lost_category>

            <root_website translate="label">
              <label>Root Website</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>

              <show_in_default>0</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>7</sort_order>
            </root_website>

            <default_role translate="label">
              <label>Default API role</label>
              <frontend_type>text</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>8</sort_order>
            </default_role>

            <apply_rules translate="label">
              <label>Apply rules on product save in the admin interface</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>9</sort_order>
            </apply_rules>
          </fields>
        </api>

        <qr translate="label">
          <label>Labels</label>
          <comment><![CDATA[
            <a target="_blank" href="/mventory_tm/qr/generate/labels/1">Generate labels</a><br />
            <a target="_blank" href="/mventory_tm/qr/generate/links/1">Generate links</a><br />
            <a target="_blank" href="/mventory_tm/qr/generate/links/1/codes/1">Generate links and codes</a><br />
            <a target="_blank" href="/mventory_tm/qr/generate/images/1">Generate image links</a><br />
            <a target="_blank" href="/mventory_tm/qr/generate/images/1/codes/1">Generate image links and codes</a><br />
          ]]></comment>
          <frontend_type>text</frontend_type>

          <show_in_default>1</show_in_default>
          <show_in_website>0</show_in_website>
          <show_in_store>0</show_in_store>

          <sort_order>4</sort_order>

          <fields>
            <rows translate="label">
              <label>Rows</label>
              <frontend_type>text</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>1</sort_order>
            </rows>

            <columns translate="label">
              <label>Columns</label>
              <frontend_type>text</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>2</sort_order>
            </columns>

            <size translate="label">
              <label>QR code size, px</label>
              <frontend_type>text</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>3</sort_order>
            </size>

            <pages translate="label">
              <label>Number of pages</label>
              <frontend_type>text</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>4</sort_order>
            </pages>

            <css translate="label">
              <label>Custom CSS</label>
              <frontend_type>textarea</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>5</sort_order>
            </css>

            <base_url translate="label">
              <label>Base URL (optional)</label>
              <frontend_type>text</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>6</sort_order>
            </base_url>

            <copies translate="label">
              <label>Copies per code</label>
              <frontend_type>text</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>7</sort_order>
            </copies>
          </fields>
        </qr>
      </groups>
    </mventory_tm>

    <carriers>
      <groups>
        <volumerate translate="label">
          <label>Volume/Weight Based Rate</label>
          <frontend_type>text</frontend_type>

          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>

          <sort_order>3</sort_order>

          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>1</sort_order>
            </active>

            <name translate="label">
              <label>Method Name</label>
              <frontend_type>text</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>

              <sort_order>2</sort_order>
            </name>

            <title translate="label">
              <label>Title</label>
              <frontend_type>text</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>

              <sort_order>3</sort_order>
            </title>

            <volume_attributes translate="label">
              <label>Volume attributes</label>
              <frontend_type>text</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>

              <sort_order>4</sort_order>
            </volume_attributes>

            <import translate="label">
              <label>Import</label>
              <frontend_type>file</frontend_type>
              <backend_model>mventory_tm/system_config_backend_carrier_volumerate</backend_model>

              <show_in_default>0</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>6</sort_order>
            </import>

            <export translate="label">
              <label>Export</label>
              <frontend_model>mventory_tm/system_config_form_field_exportrates</frontend_model>

              <show_in_default>0</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>7</sort_order>
            </export>

            <sort_order translate="label">
              <label>Sort Order</label>
              <frontend_type>text</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>8</sort_order>
            </sort_order>

            <sallowspecific translate="label">
              <label>Ship to Applicable Countries</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
              <frontend_class>shipping-applicable-country</frontend_class>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>9</sort_order>
            </sallowspecific>

            <specificcountry translate="label">
              <label>Ship to Specific Countries</label>
              <frontend_type>multiselect</frontend_type>
              <source_model>adminhtml/system_config_source_country</source_model>
              <can_be_empty>1</can_be_empty>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>10</sort_order>
            </specificcountry>

            <showmethod translate="label">
              <label>Show Method if Not Applicable</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>11</sort_order>
            </showmethod>

            <specificerrmsg translate="label">
              <label>Displayed Error Message</label>
              <frontend_type>textarea</frontend_type>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>

              <sort_order>12</sort_order>
            </specificerrmsg>
          </fields>
        </volumerate>
      </groups>
    </carriers>
  </sections>
</config>
